<section class="user-comments">

    <div class="commentCard col-4-sidenav">
        <h3 class="cardTitle">{{title}}</h3>
        <main class="cardText">
        {{content}}
        </main>
    </div>
</section>