<section class="user-comments">
    {{#each this}}

    <div class="commentCard col-4-sidenav">
        <h3 class="cardTitle">{{title}}</h3>
         <p> Posted By: {{user.username}} </p>
        <main class="cardText">
        {{content}}
        </main>
    </div>
    {{/each}}
</section>