<article class ="card">
    <div class = "card-header">
    </div>
    <a href = "/post/{{id}}">
    <header class ="card-body">{{name}}</header>
    </a>
    <p class ="card-body">{{url}}</p>
</article>