<section id = "dashboard" class="container">
<main class="dashboard">
    <h2>Your Colleges!</h2>
    <div class="col-3">
        {{#each college as |college|}}
            {{>college-info college}}
        {{/each}}
    </div>
   <p>University of Wisconsin-River Falls</p>
   <p>Tuition: 8603</p>

    <p>University of Puerto Rico-Rio Piedras</p>
    <p>Tution:</p>

</main>
</section>


<section>
    <h2>My Reviews</h2>
    <div class="commentCard">
    <form class="card-body comment-form" id="comment-form">
        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />
        <div class="form-button-layout">
        <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>
{{#each comment}}
{{>comment}}
{{/each}}
<script src="/js/comment.js"></script>
</section>