{{if college.length}}
<section id = "dashboard" class="container">
<main class="dashboard">
    <h2>Your Colleges!</h2>
    <div class="col-3">
        {{#each college as |college|}}
            {{>college-info college}}
    </div>
</main>
</section>
{{/if}}