<section id = "dashboard" class="container">
<main class="dashboard">
    <h2>Your Colleges!</h2>
    <div class="col-3">
        {{#each college as |college|}}
            {{>college-info college}}
        {{/each}}
    </div>
   <p>University of Wisconsin-River Falls</p>
   <p>Tuition: 8603</p>

    <p>University of Puerto Rico-Rio Piedras</p>
    <p>Tution:</p>

</main>
</section>
