
<container id="home"> 
  <div class="row">
<section class = "col-8">
    <ul>
        <li>
             {{#each college as |college|}}
                {{>homepage-info college}}
            {{/each}}
        </li>
    </ul>
   
</section>

<script src="/js/search.js"></script>