<container id="home"> 
  <div class="row">
<aside class="col-4">
    <h2>Enter Filter Criteria</h2>
    <form class="form-horizontal" action="/action_page.php">
  <div class="form-group">
    <label class="control-label col-sm-2" for="location">Location:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="location" placeholder="Enter Location">
    </div>
  </div>
 <div class="form-group">
    <label class="control-label col-sm-2" for="size">School Size: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="size" placeholder="Enter School Size">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="schoolType">School type:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="schoolType" placeholder="Enter private or public universities">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="acceptance">Acceptance Rate</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="acceptance" placeholder="Enter schools acceptance rate">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="graduation">Graduation Rate</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="graduation" placeholder="Enter expected graduation rate">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
</aside>

<section class = "col-8">
    <ul>
        <li>
             {{#each college as |college|}}
                {{> homepage-info college}}
            {{/each}}
        </li>
    </ul>
   
</section>
</div>
</container>
